@import "../variables";

@media (max-width: 375px) {
    header {
        display: flex;
        width: fit-content;
        height: fit-content;
        padding-bottom: 12px;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
        gap: 12px;
        align-items: center;
        flex-direction: column;

        .frame-1081 {
            display: flex;
            flex-direction: column;
            max-width: 100%;
            height: fit-content;
            .search-form {
                display: flex;
                flex-direction: column;
                width: fit-content;
                height: fit-content;
                gap: 10px;
                padding-top: 8px;
                padding-left: 16px;
                padding-right: 16px;
                .input-form-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    max-width: 343px;
                    height: fit-content;
                    gap: 6px;
                    .frame-1140 {
                        display: flex;
                        align-items: center;
                        max-width: 100%;
                        height: fit-content;
                        gap: 16px;
                        &:hover {
                            + .frame-1141 {
                            background-color: $--color-font-hover;
                            }
                            .cross {
                            visibility: visible;
                            opacity: 1;
                            transition: opacity 0.3s ease;
                            }
                        }
                        .arrow-back {
                            width: 20px;
                            height: 20px;
                        }
                        .input-form {
                            max-width: 180px;
                            height: 38px;
                            font-family: sans-serif;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 14px;
                            letter-spacing: 0;
                            vertical-align: middle;
                            border: none;
                            padding: 0 0;
                            outline: none;
                        }
                        .cross {
                            visibility: hidden;
                            width: 20px;
                            height: 20px;
                            opacity: 0.3;
                            background-image: url("/mobile/cross.svg");
                            &:active {
                                background-image: url("/mobile/cross-active.svg");
                                background-size: cover;
                            }
                        }
                        .search-btn {
                            display: flex;
                            flex-direction: column;
                            width: fit-content;
                            height: fit-content;
                            border-radius: 5px;
                            padding: 12px 16px;
                            gap: 10px;
                            background-color: $--color-brand;
                            &:active {
                                filter: brightness(50%);
                            }
                            .search-txt {
                                margin: 0;
                                width: 43px;
                                height: 14px;
                                font-family: sans-serif;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 14px;
                                letter-spacing: 0;
                                text-align: center;
                                color: $--color-white;
                            }
                        }
                    }
                    .frame-1141 {
                        width: 307px;
                        height: 1px;
                        background-color: $--color-border;
                    }
                }
            }
        }
        .frame-1094 {
            display: flex;
            width: 375px;
            height: fit-content;
            padding-right: 24px;
            padding-left: 24px;
            gap: 10px;
            box-sizing: border-box;
            .frame-1094-category-name {
                width: 195px;
                height: 28px;
                font-family: PT Sans;
                font-weight: 400;
                font-size: 22px;
                line-height: 28px;
                letter-spacing: 0;
                margin: 0;
                padding: 0;
                border: 0;
                color: $--color-font-main;
            }
        }

        // 1920 && 1440
        .frame-1657 {
            display: none;
        }
        .search-wrapper {
            display: none;
        }
        .frame-1656 {
            display: none;
        }
    }
}