@import "../variables";

@mixin products-gridmxn {
    .products-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        height: 100%;
        gap: 12px;
        margin: 0;
        border: 0;
        padding: 0;
        .products-grid-product {
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 100%;
            height: fit-content;
            .products-grid-product-img {
                width: 165.5px;
                height: 200px;
                background-image: url('/mobile/product.svg');
                background-repeat: no-repeat;
                background-size: cover;   
            }
            .products-grid-product-labels {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: fit-content;
                gap: 8px;
                .products-grid-product-brand-txt {
                    width: 165.5px;
                    height: 16px;
                    font-family: PT Sans;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0;
                    margin: 0;
                    border: 0;
                    padding: 0;
                    color: $--color-font-second;
                }
                .products-grid-product-name-txt {
                    width: 165.5px;
                    height: 48px;
                    font-family: PT Sans;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0;
                    margin: 0;
                    border: 0;
                    padding: 0;
                    color: $--color-font-main;
                }
            }
            .products-grid-product-price {
                display: flex;
                width: 100%;
                height: fit-content;
                gap: 8px;
                .products-grid-product-price-currentprice {
                    width: 54px;
                    height: 14px;
                    font-family: PT Sans;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 14px;
                    letter-spacing: 0;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    color: $--color-font-main;
                }
                .products-grid-product-price-oldprice {
                    width: 40px;
                    height: 14px;
                    font-family: PT Sans;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    color: $--color-font-second;
                    vertical-align: middle;
                    text-decoration: line-through;
                }
            }
            .products-grid-product-buybtn {
                display: flex;
                width: fit-content;
                height: fit-content;
                border-radius: 4px;
                border: 1px solid $--color-brand;
                padding: 12px 16px;
                .products-grid-product-buybtn-txt {
                    width: 43px;
                    height: 14px;
                    font-family: PT Sans;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 14px;
                    letter-spacing: 0;
                    vertical-align: middle;
                    color: $--color-brand;
                    margin: 0;
                }
            }
        }
    }
}