@mixin filtermxn {
    .filter {
        display: flex;
        flex-direction: column;
        width: 280px;
        height: fit-content;
        gap: 28px;
        margin: 0;
        padding: 0;
        border: 0;
        
        .category-filter {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: fit-content;
            .category-1 {
                display: flex;
                max-width: 100%;
                height: 30px;
                justify-content: space-between;
                margin: 0;
                border: 0;
                padding-right: 16px;
                padding-left: 8px;
                .category-1-name {
                    width: 124px;
                    height: 16px;
                    font-family: PT Sans;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0;
                    border: 0;
                    margin: 0;
                    padding: 0;
                    color: $--color-font-main
                }
                .category-1-amount {
                    width: 7px;
                    height: 14px;
                    font-family: PT Sans;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0;
                    border: 0;
                    margin: 0;
                    padding: 0;
                    color: $--color-font-second
                }
            }
            .category-2 {
                display: flex;
                max-width: 100%;
                height: 30px;
                justify-content: space-between;
                margin: 0;
                border: 0;
                padding-right: 16px;
                padding-left: 8px;
                .category-2-name {
                    width: 124px;
                    height: 16px;
                    font-family: PT Sans;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0;
                    border: 0;
                    margin: 0;
                    padding: 0;
                    color: $--color-font-main
                }
                .category-2-amount {
                    width: 7px;
                    height: 14px;
                    font-family: PT Sans;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0;
                    border: 0;
                    margin: 0;
                    padding: 0;
                    color: $--color-font-second
                }
            }
            .category-3 {
                display: flex;
                max-width: 100%;
                height: 30px;
                justify-content: space-between;
                margin: 0;
                border: 0;
                padding-right: 16px;
                padding-left: 8px;
                .category-3-name {
                    width: 124px;
                    height: 16px;
                    font-family: PT Sans;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0;
                    border: 0;
                    margin: 0;
                    padding: 0;
                    color: $--color-font-main
                }
                .category-3-amount {
                    width: 7px;
                    height: 14px;
                    font-family: PT Sans;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0;
                    border: 0;
                    margin: 0;
                    padding: 0;
                    color: $--color-font-second
                }
            }
            .category-4 {
                display: flex;
                max-width: 100%;
                height: 30px;
                justify-content: space-between;
                margin: 0;
                border: 0;
                padding-right: 16px;
                padding-left: 8px;
                .category-4-name {
                    width: 124px;
                    height: 16px;
                    font-family: PT Sans;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0;
                    border: 0;
                    margin: 0;
                    padding: 0;
                    color: $--color-font-main
                }
                .category-4-amount {
                    width: 7px;
                    height: 14px;
                    font-family: PT Sans;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0;
                    border: 0;
                    margin: 0;
                    padding: 0;
                    color: $--color-font-second
                }
            }
        }
        .slider-filter {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: fit-content;
            gap: 16px;
            margin: 0;
            border: 0;
            padding: 0;
            .category-header {
                display: flex;
                justify-content: center;
                width: 100%;
                height: fit-content;
                margin: 0;
                border: 0;
                padding: 0;
                .price {
                    width: 36px;
                    height: 20px;
                    font-family: PT Sans;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0;
                    color: $--color-font-main;
                    margin: 0;
                }
            }
            .frame-1066 {
                display: flex;
                width: 100%;
                height: fit-content;
                gap: 16px;
                margin: 0;
                border: 0;
                padding: 0;
                align-items: center;
                .price-from {
                    display: flex;
                    width: 119px;
                    height: 36px;
                    border-radius: 4px;
                    border: 1px solid $--color-border;
                    padding: 10px 8px;
                    gap: 6px;
                    margin: 0;
                    align-items: center;
                    box-sizing: border-box;
                    .price-from-txt {
                        width: 12px;
                        height: 14px;
                        font-family: PT Sans;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 0;
                    }
                    .price-from-input {
                        width: 100%;
                        height: 16px;
                        font-family: PT Sans;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        letter-spacing: 0;
                        margin: 0;
                        padding: 0;
                        border: 0;
                        outline: none;
                    }
                }
                .divider {
                        width: 10px;
                        height: 1px;
                        margin: 0;
                        border: 0;
                        padding: 0;
                    }
                .price-to {
                    display: flex;
                    width: 119px;
                    height: 36px;
                    border-radius: 4px;
                    border: 1px solid $--color-border;
                    padding: 10px 8px;
                    gap: 6px;
                    margin: 0;
                    align-items: center;
                    box-sizing: border-box;
                    .price-to-txt {
                        width: 12px;
                        height: 14px;
                        font-family: PT Sans;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 0;
                    }
                    .price-to-input {
                        width: 100%;
                        height: 16px;
                        font-family: PT Sans;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        letter-spacing: 0;
                        margin: 0;
                        padding: 0;
                        border: 0;
                        outline: none;
                    }
                }
            }
        }
        .checkbox-filter-1 {
            display: flex;
            flex-direction: column;
            max-width: 100%;
            height: fit-content;
            gap: 16px;
            border: 0;
            padding: 0;
            margin: 0;
            .checkbox-filter-1-category-header {
                display: flex;
                width: 100%;
                height: fit-content;
                justify-content: space-between;
                border: 0;
                padding: 0;
                margin: 0;
                align-items: center;
                .checkbox-filter-1-brand-txt {
                    width: 44px;
                    height: 20px;
                    font-family: PT Sans;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0;
                    color: $--color-font-main;
                    margin: 0;
                }
                .checkbox-filter-1-clear-txt {
                    width: 48px;
                    height: 12px;
                    font-family: PT Sans;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 12px;
                    letter-spacing: 0;
                    color: $--color-font-main;
                    text-align: right;
                    text-decoration: underline;
                    color: $--color-font-second;
                    margin: 0;
                }
            }
            .checkbox-filter-1-search-input-wrapper {
                display: flex;
                max-width: 100%;
                height: fit-content;
                border-radius: 4px;
                border: 1px solid $--color-border;
                padding: 10px 12px;
                gap: 8px;
                margin: 0;
                .frame-1059 {
                    display: flex;
                    width: 100%;
                    height: fit-content;
                    grid-area: 8px;
                    margin: 0;
                    border: 0;
                    padding: 0;
                    .checkbox-filter-1-search-icon {
                        width: 16px;
                        height: 16px;
                        opacity: 0.3;
                    }
                    .checkbox-filter-1-search-input {
                        display: flex;
                        width: 100%;
                        height: 16px;
                        font-family: PT Sans;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        letter-spacing: 0;
                        color: $--color-font-second;
                        margin: 0;
                        border: 0;
                        padding: 0;
                    }
                }
            }
            .frame-1152 {
                display: flex;
                flex-direction: column;
                max-width: 100%;
                height: 180px;
                overflow-y: auto;
                scrollbar-width: thin;
                scrollbar-color: $--scroll-bar transparent; 
                // overflow-x: hidden;
                gap: 12px;
                margin: 0;
                border: 0;
                padding: 0;
                .frame-1152-checkbox-wrapper {
                    display: flex;
                    max-width: 100%;
                    max-height: 20px;
                    justify-content: space-between;
                    margin: 0;
                    border: 0;
                    padding-right: 16px;
                    align-items: center;
                    .frame-1049 {
                        display: flex;
                        width: fit-content;
                        height: fit-content;
                        gap: 12px;
                        align-items: center;
                        .frame-1049-checkbox {
                            width: 20px;
                            height: 20px;
                            border-radius: 3px;
                            border: 1px solid $--color-brand;
                            background-color: $--color-brand;
                        }
                        .frame-1049-checkbox-name {
                            width: 49px;
                            height: 16px;
                            font-family: PT Sans;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 16px;
                            letter-spacing: 0;
                            color: $--color-font-main
                        }
                    }
                    .frame-1152-amount {
                        width: 7px;
                        height: 14px;
                        font-family: PT Sans;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 0;
                        text-align: right;
                        color: $--color-font-second;
                    }
                }
                
            }
        }
        .checkbox-filter-2 {
            display: flex;
            flex-direction: column;
            max-width: 100%;
            height: fit-content;
            grid-area: 16px;
            border: 0;
            padding: 0;
            margin: 0;
            .checkbox-filter-2-category-header {
                display: flex;
                width: 100%;
                height: fit-content;
                justify-content: center;
                border: 0;
                padding: 0;
                margin: 0;
                align-items: center;
                .checkbox-filter-2-brand-txt {
                    width: 52px;
                    height: 20px;
                    font-family: PT Sans;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0;
                    color: $--color-font-main;
                    margin: 0;
                }
            }
            .frame-1252 {
                display: flex;
                flex-direction: column;
                max-width: 100%;
                height: 180px;
                overflow-y: auto;
                scrollbar-width: thin;
                scrollbar-color: $--scroll-bar transparent; 
                gap: 12px;
                margin: 0;
                border: 0;
                padding: 0;
                .frame-1252-checkbox-wrapper {
                    display: flex;
                    max-width: 100%;
                    max-height: 20px;
                    justify-content: space-between;
                    margin: 0;
                    border: 0;
                    padding-right: 16px;
                    align-items: center;
                    .frame-1149 {
                        display: flex;
                        width: fit-content;
                        height: fit-content;
                        gap: 12px;
                        align-items: center;
                        .frame-1149-checkbox {
                            width: 20px;
                            height: 20px;
                            border-radius: 3px;
                            border: 1px solid $--color-brand;
                            background-color: $--color-brand;
                        }
                        .frame-1149-checkbox-name {
                            width: 49px;
                            height: 16px;
                            font-family: PT Sans;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 16px;
                            letter-spacing: 0;
                            color: $--color-font-main
                        }
                    }
                    .frame-1252-amount {
                        width: 7px;
                        height: 14px;
                        font-family: PT Sans;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 0;
                        text-align: right;
                        color: $--color-font-second;
                    }
                }
                
            }
        }
    }
}