@import "../variables";

@media (max-width: 1440px) {
    header {
        display: flex;
        max-width: 1440px;
        height: fit-content;
        padding: 12px 128px;
        gap: 24px;
        align-items: center;
        box-sizing: border-box;
        
        .frame-1657 {
            display: flex;
            width: fit-content;
            height: fit-content;
            gap: 8px;
            .frame-1655 {
                display: flex;
                align-items: center;
                width: fit-content;
                height: 48px;
                padding-right: 24px;
                padding-left: 24px;
                gap: 8px;
                .material-symbols-image {
                    max-width: 24px;
                    height: 24px;
                    .vector {
                        width: 18px;
                        height: 18px;
                    }
                }
                .logo-txt {
                    max-width: 65px;
                    height: 19px;
                    font-family: Inter;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0;
                    text-align: center;
                    vertical-align: middle;
                }
            }
            .frame-1654 {
                display: flex;
                
                width: fit-content;
                height: 48px;
                border-radius: 8px;
                border: 1px solid $--color-brand;
                padding: 8px 24px;
                gap: 10px;
                box-sizing: border-box;
                align-items: center;
                .catalog {
                    max-width: 56px;
                    height: 17px;
                    font-family: Inter;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 0;
                }
            }
        }
        
        .search-wrapper {
            display: flex;
            max-width: 100%;
            height: 48px;
            border: 1px solid $--color-brand;
            border-radius: 10px;
            // padding: 4px 16px;
            gap: 8px;
            align-items: center;
            box-sizing: border-box;
            .frame-1167 {
                display: flex;
                max-width: 100%;
                height: fit-content;
                gap: 8px;
                .search-frame {
                    width: 24px;
                    height: 24px;
                }
                .search-input {
                    max-width: 415px;
                    height: 24px;
                    font-family: Inter;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    letter-spacing: 0;
                    vertical-align: middle;
                    border: none;
                    outline: none;
                    padding: 0 0;
                }
            }
        }

        .frame-1656 {
            display: flex;
            width: fit-content;
            height: fit-content;
            gap: 20px;
            .information-about-company {
                max-width: 173px;
                height: 17px;
                font-family: Inter;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0;
                margin: 0;
            }
            .contacts {
                width: 65px;
                height: 17px;
                font-family: Inter;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0;
                margin: 0;
            }
            .useful-links {
                max-width: 123px;
                height: 17px;
                font-family: Inter;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0;
                margin: 0;
            }
        }

        // 375
        .frame-1081 {
            display: none;
        }
    }
}