// Шрифты
$--color-font-main: #333333;
$--color-font-hover: #125BAE;
$--color-font-history: #5A0488;
$--color-font-second: #AAAAAA;
$--color-font-bg: #E2EFFF;

// Бренд
$--color-brand: #7397F5;

// Бордеры и прочее
$--color-border: #D5D5D5;
$--color-icons: #CBCBCB;
$--scroll-bar: #F2F2F2;
$--color-white: #FFFFFF;
