@import "../variables";
@import "./filter1920";
@import "./products1920";

@media (max-width: 1920px) {
    .main-block {
        display: flex;
        width: 100%;
        height: fit-content;
        gap: 36px;
        margin: 0;
        padding: 0;
        border: 0;
        @include filtermxn;
        @include products-gridmxn;
    }
}